<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF=8">        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block head %}
            <title>Proff Manager</title>
        {% endblock head %}

        <link rel="stylesheet" href="/styles.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="links">
                <a href="/teachers">Teachers</a>
                <a href="/students">Students</a>
            </div>
        </header>

    {% block content %}
    {% endblock %}

    <script src="/scripts.js"></script>
    </body>
</html>