<div class="item ite-bord">
    <div>
        Avatar URL
    </div>
    <div>
        <input type="url" name="avatar_url" placeholder="http://" value="{{ teachers.avatar_url }}">
    </div>
</div>

<div class="item">
    <div>
        Student
    </div>
    <div class="ite-bord">
        <input type="text" name="name" placeholder="Name Student" value="{{ teachers.name }}">
    </div>
</div>

<div class="item">
    <div>
        Email
    </div>
    <div class="ite-bord">
        <input type="email" name="email" placeholder="" value="{{ teachers.name }}">
    </div>
</div>

<div class="item">
    <div>
        Data de Nascimento
    </div>
    <div class="ite-bord">
        <input type="date" name="birth" value="{{ teachers.birth }}">
    </div>
</div>

<div class="item">
    <div>
        Sexo
    </div>
    <div class="ite-bord">
        <span>
            <input 
                type="radio" 
                name="gender" 
                value="M" 
                {% if teachers.gender == 'M' %} 
                checked="checked" 
                {% endif %}>
                Masculino
        </span>
        <span><input type="radio" name="gender" value="F" {% if teachers.gender == 'F' %} checked="checked" {% endif %}>
            Feminino</span>
    </div>
</div>

<div class="item">
    <div>
        Ano Escolar
    </div>
    <div class="ite-bord">
        <select name="escolaridade">
            <option value="select">Selecione</option>
            <option >- Ensino Fundamental -</option>
            <option value="5" {% if teachers.escolaridade == '5' %} selected="selected" {% endif %}>5º Ano</option>
            <option value="6" {% if teachers.escolaridade == '6' %} selected="selected" {% endif %}>6º Ano</option>
            <option value="7" {% if teachers.escolaridade == '7' %} selected="selected" {% endif %}>7º Ano</option>
            <option value="8" {% if teachers.escolaridade == '8' %} selected="selected" {% endif %}>8º Ano</option>
            <option value="select">- Ensino Médio -</option>
            <option value="1" {% if teachers.escolaridade == '1' %} selected="selected" {% endif %}>1º Ano</option>
            <option value="2" {% if teachers.escolaridade == '2' %} selected="selected" {% endif %}>2º Ano</option>
            <option value="3" {% if teachers.escolaridade == '3' %} selected="selected" {% endif %}>3º Ano</option>
        </select>
    </div>
</div>

<div class="item">
    <div>
        Type Learn
    </div>
    <div class="ite-bord">
        <span><input type="radio" name="type_learn" value="presencial" {% if teachers.type_learn == 'presencial' %} checked="checked" {% endif %}>
            Presencial</span>
        <span><input type="radio" name="type_learn" value="distancia" {% if teachers.type_learn == 'distancia' %} checked="checked" {% endif %}>
            Distância</span>
    </div>
</div>

<div class="item">
    <div>
        Carga Horária
    </div>
    <div class="ite-bord">
        <input type="number" name="time" placeholder="Ex: 25" value="{{ teachers.learn }}">
    </div>
</div>