{% extends "layout.njk" %}


{% block content %}
    <div class="card">
        <section
            class="picture"
            style="background: url({{ teachers.avatar_url }}) no-repeat center center / cover"
        >        
        </section>

        <section class="details">

            <h3>About</h3>
            <div class="item ite-bord"">
                <div> Professor(a) </div>
                <div> {{ teachers.name }}</div>
            </div>
            <div class="item">
                <div> Idade </div>
                <div> {{ teachers.birth_date }} Anos</div>
            </div>
            <div class="item">
                <div> Sexo </div>
                <div> {{ "Masculino" if teachers.gender == "M" else "Feminino"}} </div>
            </div>
            <div class="item">
                <div> Grau de Escolaridade </div>                
                {% if teachers.education_level == 'MC' %}<div>Ensino Médio Completo</div>{% endif %}
                {% if teachers.education_level == 'SC' %}<div>Ensino Superior Completo</div>{% endif %}
                {% if teachers.education_level == 'MD' %}<div>Mestrado e Doutorado</div>{% endif %}
            </div>
            <div class="item">
                <div> Tipo de Aula </div>
                <span>
                    {{ teachers.class_type }}
                </span>
            </div>
            <div class="item">
                <div> Acompanhamento </div>
                <div> 
                   {% for learn in teachers.subjects_taught %}
                    <span>{{ learn }}</span>
                {% endfor %}
                </div>
            </div>
            <div class="item">
                <div> Desde </div>
                <div> {{ teachers.created_at }}</div>
            </div>
            <a href="/teachers/{{ teachers.id }}/edit" class="button">Editar</a>
        </section>

    </div>
{% endblock %}