{% extends "layout.njk" %}


{% block content %}
    <div class="card">
        <section
            class="picture"
            style="background: url({{ teachers.avatar_url }}) no-repeat center center / cover"
        >        
        </section>

        <section class="details">

            <h3>Aboute </h3>
            <div class="item ite-bord"">
                <div> Professor(a) </div>
                <div> {{ teachers.name }}</div>
            </div>
            <div class="item">
                <div> Idade </div>
                <div> {{ teachers.birth }} Anos</div>
            </div>
            <div class="item">
                <div> Sexo </div>
                <div> {{ "Masculino" if teachers.gender == "M" else "Feminino"}} </div>
            </div>
            <div class="item">
                <div> Grau de Escolaridade </div>
                <div> {{ teachers.escolaridade }} </div>
            </div>
            <div class="item">
                <div> Tipo de Aula </div>
                <span>
                    {{ teachers.type_learn }}
                </span>
            </div>
            <div class="item">
                <div> Acompanhamento </div>
                <div> 
                   {% for learn in teachers.learn %}
                    <span>{{ learn }}</span>
                {% endfor %}
                </div>
            </div>
            <div class="item">
                <div> Desde </div>
                <div> {{ teachers.create_at }}</div>
            </div>
            <a href="" class="button">Editar</a>
        </section>

    </div>
{% endblock %}